<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/bujutsu_sosei"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/bujutsu_sosei"
        android:supportsRtl="true"
        android:theme="@style/black_and_white"
        tools:targetApi="31">

        <activity
            android:name=".vista.PantallaLogIn"
            android:theme="@style/black_and_white"
            android:label=""
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".vista.PantallaInicio"
            android:theme="@style/black_and_white"
            android:label="">
        </activity>

        <activity
            android:name=".vista.PantallaSeleccionar"
            android:theme="@style/black_and_white"
            android:label="">
        </activity>

        <activity
            android:name=".vista.PantallaVisualizar"
            android:theme="@style/black_and_white"
            android:label="">
        </activity>

        <activity android:name=".vista.PantallaCrearWaza"
            android:theme="@style/black_and_white"
            android:label="">
        </activity>

    </application>

</manifest>